<form [formGroup]="form" (ngSubmit)="onSubmit()" class="card">
  <div class="card-content">
    <span class="card-title">Войти в систему</span>
    <div class="input-field">
      <input
        formControlName="email"
        id="email"
        type="email"
        [class.invalid]="email!.invalid && email!.touched"
      />
      <label for="email">Email:</label>

      <span
        class="helper-text red-text"
        *ngIf="email!.invalid && email!.touched"
      >
        <span *ngIf="email!.errors!.required"
          >Email не должен быть пустым
        </span>
        <span *ngIf="email!.errors!.email">
          Введите корректный Email адрес
        </span>
      </span>
    </div>
    <div class="input-field">
      <input
        id="password"
        type="password"
        formControlName="password"
        [class.invalid]="password!.invalid && password!.touched"
      />
      <label for="password">Пароль:</label>
      <span
        class="helper-text red-text"
        *ngIf="password!.invalid && password!.touched"
      >
        <span class="healper-text red-text" *ngIf="password!.errors!.required">
          Пароль не должен быть пустым
        </span>
        <span class="healper-text red-text" *ngIf="password!.errors!.minlength">
          Пароль должен быть более 4 символов
        </span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      type="submit"
      class="modal-action btn waves-effect"
      [disabled]="form.invalid || form.disabled"
    >
      Войти
    </button>
  </div>
</form>
